[submodule "lang/php"]
	path = lang/php
	url = git@github.com:ziadoz/awesome-php.git
[submodule "lang/csharp"]
	path = lang/csharp
	url = git@github.com:danperor/awesome-csharp.git
[submodule "framework/symfo"]
	path = framework/symfo
	url = git@github.com:sitepoint-editors/awesome-symfony.git
